header {
    background-color: rgba(168, 105, 53, 0.558);
    color: rgb(85, 23, 23);
    text-align: center;
    padding: 10px;
    border-radius: 0.2cm;
    font-family: Arial, Helvetica, serif;
}


main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.caixa-pesquisa {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.caixa-artista{
    background-color: rgb(235, 222, 194);
    border: 1px solid rgba(168, 105, 53, 0.558);
    padding: 10px;
    margin: 10px;
    border-radius: 0.1cm;
}

footer {
    background-color: rgba(168, 105, 53, 0.558);
    color: rgb(85, 23, 23);
    text-align: center;
    padding: 10px;
    border-radius: 0.2cm; 
    margin-top: 10px;
}

.img-dominguinhos {
    position:static;
}
